{% if page.has_other_pages %}
    <nav class="pagination-box">
        <ul class="pagination">
            <li >
                {% if page.has_previous %}
                    <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-caret-left"></i></span>
                    </a>
                {% else %}
                    <span>
                        <span aria-hidden="true"><i class="fa fa-caret-left"></i></span>
                    </span>
                {% endif %}
            </li>
            {% for page_number in page.paginator.page_range %}
                <li {% if page_number == page.number %}class="active"{% endif %}>
                    {% if page_number == page.number %}
                        <span>{{ page_number }}</span>
                    {% else %}
                        <a href="?page={{ page_number }}">{{ page_number }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <li >
                {% if page.has_next %}
                    <a href="?page={{ page.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-caret-right"></i></span>
                    </a>
                {% else %}
                    <span>
                        <span aria-hidden="true"><i class="fa fa-caret-right"></i></span>
                    </span>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endif %}